body {
  margin: 0;
  padding: 0;
}
h1 {
  margin: 20px 0;
  font: bold 44px Helvetica;
  text-align: center;
  color: #212a28;
}
h5 {
  margin: 5px 0;
  padding: 0;
  font: normal 16px Helvetica;
  color: #777;
  text-align: center;
}
#task-container {
  width: 400px;
  margin: 0 auto;
  padding: 40px 80px;
  border: 1px solid #aaa;
}
.task {
  margin-bottom: 20px;
  text-align: center;
  padding: 20px;
  background: #eee;
}
#task {
  font: bold 36px Helvetica;
  overflow: hidden;
}
#task-buttons {
  margin-top: 30px;
  text-align: center;
}
.button {
  box-sizing: border-box;
  background: #212a28;
  padding: 15px 20px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #00281c;
  cursor: pointer;
}
.quarter {
  width: 25%;
}
.half {
  width: 50%;
}
.wide {
  width: 100%;
}
.third {
  width: 33.33%;
}
.button:hover {
  background: #384744;
}
#button-start {
  margin-top: 20px;
}
#button-clear {
  margin-top: 20px;
}
#counter {
  margin-top: 10px;
  text-align: right;
}
.result {
  display: inline-block;
  padding: 5px;
  font: bold 18px Helvetica;
}
#correct-counter {
  color: #008312;
}
#incorrect-counter {
  color: #e3130b;
}
.param {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #00281c;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
}
.param:hover {
  background: #384744;
  color: #fff;
}
.active {
  background: #212a28;
  color: #fff;
}
.tip {
  display: block;
  text-align: center;
}
#timer {
  text-align: center;
  font: bold 36px 'Arial Narrow';
}
#output-screen {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  margin: 20px auto;
}
.output {
  margin: 5px 0;
  padding: 10px;
  font: normal 18px Arial;
  color: #fff;
}
.correct-out {
  background: #1b7c55;
}
.incorrect-out {
  background: #9d2f2b;
}
@media screen and (max-width: 400px) {
  #task-container {
    width: 100%;
    padding: 0;
  }
}
