//
   Created by Maqurez on 12/30/2014.

html
   head
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
      title Tirvi Dictionary
      meta(name="description", content="")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      link(rel="stylesheet", href="css/style.css")
   body
      div(id="dictionary-main")
