//
   Created by Maqurez on 12/30/2014.

html
   include imports/head.jade
   body
      div(class="header-container")
         header(class="wrapper clearfix")
            h1(class="title") Tirvi
      div(class="main-container")