//
   Created by Maqurez on 12/28/2014.

html
   include imports/head.jade
   body
      div(class="header-container")
         header(class="wrapper clearfix")
            h1(class="title") Tirvi
      div(class="main-container")
         div(class="main wrapper clearfix")
            div(id="task-container")
               div(id="start-screen")
                  div(id="app-types")
                     span(id="tip-app", class="tip wide")
                     span(class="app-button param half", id="type-count-but")
                     span(class="app-button param half", id="type-time-but")
                  div(id="task-types")
                     span(id="tip-task", class="tip wide")
                     span(class="type-button param half", id="type-prepo-but")
                     span(class="type-button param half", id="type-trans-but")
                  div(id="app-langs")
                     span(id="tip-lang", class="tip wide")
                     span(class="lang-button param third", id="en-but") en
                     span(class="lang-button param third", id="ua-but") ua
                     span(class="lang-button param third", id="ru-but") ru
                  button(class="button wide" id="button-start") START
               div(id="end-screen")
                  span(class="result", id="result-points")
                  span(class="result", id="result-correct")
                  span(class="result", id="result-incorrect")
                  button(class="button wide" id="button-clear") END
               div(id="main-screen")
                  div(id="timer")
                  div(id="task")
                     h5(id="tip-task-left",class="tip")
                     div(id="left-task" class="task")
                     h5(id="tip-task-right",class="tip")
                     div(id="right-task" class="task")
                  div(id="task-buttons")
                     button(class="button half" id="button-y")
                     button(class="button half" id="button-n")
                  div(id="counter")
                     span(class="result", id="points-counter") 0
                     //span(class="result", id="words-counter") 0
                     span(class="result", id="correct-counter") 0
                     span(class="result", id="incorrect-counter") 0
                  button(id="output-open-but", class="button wide") SHOW RESULTS
               div(id="output-screen")
                  button(id="output-close-but", class="button wide") HIDE RESULTS

      div(class="footer-container")
         footer(class="wrapper")
      script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
      script(src="js/main.js")
